name: build
on: [push, pull_request]
jobs:
  build:
    runs-on: ubuntu-latest
    strategy:
      fail-fast: false
      matrix:
        include:
        - ruby: 3.0
          gemfile: Gemfile
          adapter: postgresql
        - ruby: 3.0
          gemfile: Gemfile
          adapter: mysql2
        - ruby: 2.7
          gemfile: gemfiles/activerecord61.gemfile
          adapter: postgresql
        - ruby: 2.6
          gemfile: gemfiles/activerecord60.gemfile
          adapter: postgresql
        - ruby: 2.5
          gemfile: gemfiles/activerecord52.gemfile
          adapter: postgresql
    env:
      BUNDLE_GEMFILE: ${{ matrix.gemfile }}
    steps:
    - uses: actions/checkout@v2
    - uses: ruby/setup-ruby@v1
      with:
        ruby-version: ${{ matrix.ruby }}
        bundler-cache: true
    - if: ${{ matrix.adapter == 'postgresql' }}
      uses: ankane/setup-postgres@v1
      with:
        database: hypershield_test
    - if: ${{ matrix.adapter == 'mysql2' }}
      uses: ankane/setup-mysql@v1
      with:
        database: hypershield_test
    - run: bundle exec rake test
      env:
        ADAPTER: ${{ matrix.adapter }}
