name: build
on: [push, pull_request]
jobs:
  build:
    runs-on: ubuntu-latest
    strategy:
      fail-fast: false
      matrix:
        include:
        - ruby: 3.1
          gemfile: Gemfile
        - ruby: "3.0"
          gemfile: gemfiles/activerecord61.gemfile
        - ruby: 2.7
          gemfile: gemfiles/activerecord60.gemfile
    env:
      BUNDLE_GEMFILE: ${{ matrix.gemfile }}
    steps:
    - uses: actions/checkout@v2
    - uses: ruby/setup-ruby@v1
      with:
        ruby-version: ${{ matrix.ruby }}
        bundler-cache: true

    - uses: ankane/setup-postgres@v1
      with:
        database: hypershield_test
    - run: bundle exec rake test

    - uses: ankane/setup-mysql@v1
      with:
        database: hypershield_test
    - run: ADAPTER=mysql2 bundle exec rake test
